.task-info {
    border-radius: 5px;
    position: relative;
    background-color: #FFFFFF;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.task-info__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.task-info__description {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.task-info__button-exit {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity 0.2s;
}

.task-info__button-exit:before,
.task-info__button-exit:after {
    content: '';
    background-color: #000;
	position: absolute;
	top: 10px;
    left: 0;
	width: 24px;
	height: 3px;
}

.task-info__button-exit:hover {
    opacity: 1;
}

.task-info__button-exit::before {
	transform: rotate(45deg);
}

.task-info__button-exit::after {
	transform: rotate(-45deg);
}

.task-info__edit {
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #5E6C84;
}

.task-info__edit_button-edit {
    cursor: pointer;
}

.task-info__edit_textarea {
    border: solid 1px black;
    background-color: #FFFFFF;
    padding: 5px;
    width: 100%;
    height: 200px;
    resize: none;
}

.task-info__edit_button-submit {
    background-color: #0079BF;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.task-info__edit_button-submit-disabled {
    background-color: #ced1d8;
    padding: 5px;
    margin-left: 3%;
    color: #FFFFFF;
    cursor: not-allowed;
}